<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="au.com.cathis.ma.gpslocation" version="1.0.0">	<name>GPSLocation</name>	<author>Sereyboth Van</author>	<description>Exposes GPS Location related values to a Cordova application.</description>	<keywords>gps,location</keywords>	<license>Apache 2.0 License</license>	<js-module src="www/gpslocation.js" name="gpslocation">		<clobbers target="gpslocation" />	</js-module>	<platform name="android">		<!-- android-specific elements -->		<source-file src="src/android/GPSLocation.java" targetdir="src/au/com/cathis/ma/gpslocation" />        <config-file target="res/xml/config.xml" parent="/*">            <feature name="GPSLocation" >                <param name="android-package" value="au.com.cathis.ma.GPSLocation"/>            </feature>        </config-file>	</platform></plugin>